.main-container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.content-container {
   -webkit-box-flex: 1;
   -ms-flex: 1;
   flex: 1;
   width: 100%;
   background-color: var(--primary-color);
}