.profile {
   height: 100%;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.profile-header {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   background-color: var(--primary-color);
   margin-bottom: 2rem;
}

.profile-header-pp {
   max-width: 350px;
   width: 100%;
}

.profile-header-pp img {
   background-color: var(--secondary-color);
   border-radius: 50%;
   overflow: hidden;
}

.profile-user-name {
   font-size: var(--title-font);
   color: var(--secondary-color);
   letter-spacing: 10px;
   text-align: center;
}

.profile-user-job {
   font-size: var(--subtitle-font);
   color: var(--secondary-color);
   text-align: center;
   margin: 0;
   letter-spacing: 4px;
}

.profile-content {
   margin-top: 5rem;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
   -webkit-column-gap: 2rem;
   -moz-column-gap: 2rem;
   column-gap: 2rem;
}

.profile-content-subtitle {
   text-align: center;
   font-size: var(--subtitle-font);
   color: var(--secondary-color);
   letter-spacing: 2px;
}

.profile-content ul {
   list-style: none;
}

.profile-content li {
   color: var(--secondary-color);
   font-size: 14px;
}

.profile-content li::before {
   content: '→';
   color: var(--accent-color);
   margin-right: 5px;
}

.profile-content li span:first-child {
   color: var(--accent-color);
}

@media screen and (max-width: 976px) {
   .profile-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-column-gap: unset;
      -moz-column-gap: unset;
      column-gap: unset;
      margin-top: 3rem;
   }
}

@media screen and (max-width: 600px) {
   .profile {
      justify-content: unset;
   }

   .profile-header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }

   .profile-user-name {
      margin-bottom: 1rem;
   }
}