.filter-form {
   display: flex;
   justify-content: space-evenly;
}

#filters, #filter-input, .filter-submit-btn {
   max-width: 250px;
   width: 100%;
   height: 35px;
   outline: none;
   border: 1px solid transparent !important;
}

#filters:hover, #filter-input:hover, .filter-submit-btn:hover{
   border: 1px solid var(--accent-color) !important;
}

.filter-submit-btn {
   border: none;
}