@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&family=Rubik+Bubbles&display=swap');

:root {
    --primary-color: #F1F6F9;
    --secondary-color: #324A9A;
    --accent-color: #03C988;
    --subtitle-font: 18px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: var(--primary-color);
}

img {
    display: block;
    max-width: 100%;
    object-fit: contain;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}